<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MEPM</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://kit.fontawesome.com/c41790e5a3.js" crossorigin="anonymous"></script>

</head>
<body>

    <div id="myDIV">
        <nav class="navbar navbar-expand-lg fixed-top shadow rounded" id="mainNav">

            <div class="container" id="myDIV">
                <a class="navbar-brand " href="/Home/Index"><img src="/images/logo.png" width="166" height="70" alt=""></a>
                <ul class="mr-auto"></ul>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="nav navbar-nav flex-grow-1">

                        <li class="nav-item @Html.ActiveClass("Home", "Index,Privacy,Error")">
                            <a class="nav-link " href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item @Html.ActiveClass("Home", "Services")">
                            <a class="nav-link" href="/Home/Services">Services</a>
                        </li>
                        <li class="nav-item @Html.ActiveClass("Home", "Portfolio")">
                            <a class="nav-link" href="/Home/Portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item @Html.ActiveClass("Home", "Contact,Email")">
                            <a class="nav-link" href="/Home/Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted shadow">
        <div class="container">

            &copy; 2021 - MEPM - <a class="" href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDet1JWuv7ESrZFqobr1vPj2nd92Ktjs4M&callback=initMap">
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
